body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lugares{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  min-height: 105px;
  text-align: right;

  border: rgb(48, 100, 179) 3px solid;
  border-radius: 14px;
}
.listalugares{
  margin-left: 0px;
  
  
}

.lugares img{
  height: 100px;
  width: 120px;
  border-radius: 10px;
}
.crearbutton{
  margin-bottom: 10px;
}

/* Guide */
.btn.btn-primary{
margin-bottom: 10px;

}

/*Place */
.localidad{
  text-align: left;
}
.localidad h4{
  position: absolute;
  background: #889ccf; 
  padding: 4px;
  font-size: 18px;
  border: 2px solid #5878ca;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
  
}
.descripcion{
  margin-top: 40px;
  text-align: justify;
  
}
h3{
  font: bold;
}
.descripcion h4{
  /* border: 1px solid blue; */

  /* border-radius: 2%;
  padding: 4px;
  font-size: 20px;
  background-color: rgb(240, 240, 248); */

  /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #ffffff; 
font-size: 18px; 
font-weight: 400; 
text-align: justify; 
background: #889ccf; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca; */
font-size: 18px;
text-align: justify;
margin: 5px;
margin-right: 5px;
text-shadow: 3px 3px 2px rgba(152, 150, 207, 0.7);
}
.letra{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagen{
margin: auto;
margin-top: 25px;
width: 90%;
}
.imagen img{
  border-radius: 10%;
}
  
