.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
}
.fondo{
   background-image: url('/src/assets/avenue-3464777_1280.jpeg');
}

.btn.btn-light{
    font-size: 20px;
}