button.btn.btn-success{
   
    width: 200px;
    margin: 10px;
    
}

.infotext{
    text-decoration: none;
    color: white;
}


.btn.btn-primary{
    width:200px;
    margin-right: 5px;
  
}

@media(min-width:768px){
    .lugares{
        margin: 10px;
    }
    .organizacion{
        display: grid;
        grid-template-columns: 500px 500px;
        justify-content: center;
    }
}