.guia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.saber{
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    text-decoration: none;
}
 .fondo-guia{
    background-image: url('/src/assets/mountains-1587287_1280.webp');
    background-repeat: repeat;
} 

.btn.btn-outline-light{
    width: 300px;
    border: none;
}