button.btn.btn-danger{
    margin-right: 1px;
    
}
.acciones{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    margin-right: 20px;
    
}
.lugarescreados{
    margin: 10px 0px 20px 0px;
}
.btn.btn-warning{
    /* margin-left: 10px; */
    margin-right: 20px;
     width: 85px; 
    
}
.modificar{
    color: white;
    text-decoration: none;
    text-align: center;
    
}

