h1{
color: darkblue;
}
.email, .contraseña{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
    margin: auto;
    border: 4px solid darkblue;
    
}
.loginText{
    color: darkblue
}
.logo{
    margin-top: 50px;
    width: 80px;
    height: 80px;
}
.error{
    color: tomato;
    font: bold;
}

